@page "/coffees"
@using BisleriumCafé.Data.Services

<h3>View AddIns</h3>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Coffee Name</th>
            <th>Coffee Price</th>
        </tr>
    </thead>
    <tbody>
        <!-- Loop through each coffee data -->
        @foreach (var coffeeData in CoffeeServices.RetrieveCoffeeData())
        {
            <tr>
                <!-- Display coffee ID, Name and price -->
                <td>@coffeeData.Id</td>
                <td>@coffeeData.CoffeeName</td>
                <td>@coffeeData.CoffeePrice</td>
            </tr>
        }
    </tbody>
</table>
@code {
    // Inject NavigationManager for navigation purposes
    [Inject]
    private NavigationManager NManager { get; set; }

    // Initialize the page on start
    protected override void OnInitialized()
    {
        // Inject sample coffee data to ensure some data exists
        CoffeeServices.InjectSampleCoffeeData();
        base.OnInitialized();
    }
}