@page "/AddIns"
@using BisleriumCafé.Data.Services

<h3>View AddIns</h3>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <!-- Loop through each hobby data -->
        @foreach (var addinsData in AddInsServices.RetrieveAddInsData())
        {
            <tr>
                <!-- Display hobby ID and Name -->
                <td>@addinsData.Id</td>
                <td>@addinsData.Name</td>
                <td>@addinsData.Price</td>
                <td>
                    <!-- Button to navigate to the EditHobby page with the specific hobby ID -->
                    <button type="submit" @onclick="@(()=>EditAddIns(addinsData.Id))" class="btn btn-primary">Edit</button>
                </td>
            </tr>
        }
    </tbody>
</table>
@code {
    // Inject NavigationManager for navigation purposes
    [Inject]
    private NavigationManager NManager { get; set; }

    // Initialize the page on start
    protected override void OnInitialized()
    {
        // Inject sample hobby data to ensure some data exists
        AddInsServices.InjectSampleAddInsData();
        base.OnInitialized();
    }

    // Method to navigate to the EditHobby page with a specific hobby Id
    public void EditAddIns(Guid id)
    {
        try
        {
            // Navigate to the EditHobby page with the specific hobby ID
            NManager.NavigateTo($"/EditAddIns/{id}");
        }
        catch (Exception ex)
        {
            // Handle any navigation errors
            Console.WriteLine($"Error Navigating:{ex.Message}");
        }
    }
}