@page "/index"
@inject NavigationManager NavigationManager

<section class="banner">
    <img src="https://img.freepik.com/premium-photo/photo-cup-coffee-glasses-table-with-plenty-empty-space-around-them_176841-4990.jpg?w=1380" alt="banner image">
</section>
<section class="content">
    <h2>Welcome to Bislerium café</h2>
    <p>Welcome to Bislerium café! Where every cup is a moment, and every moment is yours. Sip, savor, and enjoy the essence of great coffee. Cheers to delightful breaks</p>
</section>