@page "/login"
@inherits LayoutComponentBase
@using BisleriumCafé.Data.Models
@using System.Collections.Generic
@inject NavigationManager NavManager

<div class="login-container">
    <h1>Welcome to <span>Bislerium café</span></h1>
    <p>Please sign in to continue.</p>
    <EditForm model="staffModel" OnValidSubmit="SetLogin">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="input-field">
            <label for="username">Name</label>
            <InputText id="Name" type="text" @bind-Value="name" class="form-control" />
        </div>
        <div class="input-field">
            <label for="password">Password</label>
            <InputText id="Password" @bind-Value="password" type="password" class="form-control" />
        </div>
        <button type="submit" class="login-btn">LOGIN</button>
    </EditForm>
</div>

@code {
    private string name;
    private string password;

    private void SetLogin()
    {
        if (password == "admin123")
        {
            UserRole.Role = "Admin";
            ShowSuccessAlert(UserRole.Role);
            NavManager.NavigateTo("/");
        }
        else if(password == "staff123")
        {
            UserRole.Role = "Staff";
            ShowSuccessAlert(UserRole.Role);
            NavManager.NavigateTo("/");
        }
    }

    private void ShowSuccessAlert(string role)
    {
        App.Current.MainPage.DisplayAlert("Success", $"Hello {role}, You have SuccessFully Login!", "Ok");
    }

}
