@page "/login"

@inherits LayoutComponentBase
@using BisleriumCafé.Data.Models
@using System.Collections.Generic
@inject NavigationManager NavManager

<div class="login-container">
    <h1>Welcome to <span>Bislerium café</span></h1>
    <p>Please sign in to continue.</p>
    <EditForm model="staffModel" OnValidSubmit="SetLogin">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="input-field">
            <label for="username">Name</label>
            <InputText id="Name" type="text" @bind-Value="name" class="form-control" />
        </div>
        <div class="input-field">
            <label for="password">Password</label>
            <InputText id="Password" @bind-Value="password" type="password" class="form-control" />
        </div>
        <button type="submit" class="login-btn">LOGIN</button>
    </EditForm>
</div>

@code {
    private string name;
    private string password;

    // Method to set user role based on the entered password
    private void SetLogin()
    {
        if (password == "admin123")
        {
            // Set user role to Admin
            UserRole.Role = "Admin";

            // Show success alert for Admin login
            ShowSuccessAlert(UserRole.Role);

            // Navigate to the home page
            NavManager.NavigateTo("/");
        }
        else if (password == "staff123")
        {
            // Set user role to Staff
            UserRole.Role = "Staff";

            // Show success alert for Staff login
            ShowSuccessAlert(UserRole.Role);

            // Navigate to the home page
            NavManager.NavigateTo("/");
        }
    }

    // Method to show a success alert with the user role
    private void ShowSuccessAlert(string role)
    {
        App.Current.MainPage.DisplayAlert("Success", $"Hello {role}, You have Successfully Logged In!", "Ok");
    }
}