@page "/logout"
@using BisleriumCafé.Data.Models
@inject NavigationManager NavManager

<h3>Logout</h3>

@code {
    //Method to logout as it remove the role
    protected override void OnInitialized()
    {
        UserRole.Role = "";
        App.Current.MainPage.DisplayAlert("Message", "Your have been logout!", "Ok");
        NavManager.NavigateTo("/index");
    }
}