body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.login-container {
    width: 400px;
    padding: 2rem;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.4);
    margin: 6rem auto;
}

h1 {
    font-size: 24px;
    margin-bottom: 1rem;
}

span {
    color: #570987;
    font-weight: bold;
}

.input-field {
    margin-bottom: 1.5rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
}

input {
    width: 100%;
    padding: 0.5rem;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.login-btn {
    width: 100%;
    padding: 0.5rem;
    font-size: 14px;
    background-color: #7D0DC3;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-btn:hover {
    background-color: #570987;
}