@inherits LayoutComponentBase
@using BisleriumCafé.Data.Models
@using BisleriumCafé.Pages
@inject NavigationManager NavigationManager

@code {
    StaffModel staffModel = new StaffModel();
}

@* @if (staffModel.Role == StaffRole.Admin || staffModel.Role == StaffRole.Staff) *@
@if (staffModel.Role != StaffRole.Admin || staffModel.Role != StaffRole.Staff)
{
    <div class="page">
        <div class="sidebar">
            <NavMenu />
        </div>

        <main>
            <article class="content px-4">
                @Body
            </article>
        </main>
    </div>
}
else
{
    <Login />
}
