@inherits LayoutComponentBase
@using BisleriumCafé.Data.Models
@using BisleriumCafé.Pages
@inject NavigationManager NavigationManager

@if (UserRole.Role == "Admin" || UserRole.Role == "Staff")
{
    <div class="page">
        <div class="sidebar">
            <NavMenu />
        </div>

        <main>
            <article class="content px-4">
                @Body
            </article>
        </main>
    </div>
}
else
{
    <Login />
}
