@using BisleriumCafé.Data.Models
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css" integrity="sha256-BJ/G+e+y7bQdrYkS2RBTyNfBH7Aw13P1jI7f35kI=" crossorigin="anonymous" />

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BisleriumCafé</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <!-- Nav Bar access by staffs -->
        @if (UserRole.Role == "Staff")
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="orders">
                    <span class="oi oi-plus" aria-hidden="true"></span> Create Order
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="orderData">
                    <span class="oi oi-eye" aria-hidden="true"></span> View Order
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="paymentData">
                    <span class="oi oi-credit-card" aria-hidden="true"></span> View Payment
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="logout">
                    <span class="oi oi-account-logout" aria-hidden="true"></span> Logout
                </NavLink>
            </div>
        }
        else
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="index">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="orders">
                    <span class="oi oi-plus" aria-hidden="true"></span> Create Order
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="orderData">
                    <span class="oi oi-eye" aria-hidden="true"></span> View Order
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="paymentData">
                    <span class="oi oi-credit-card" aria-hidden="true"></span> View Payment
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="coffees">
                    <span class="oi oi-box" aria-hidden="true"></span> View Coffees
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="addins">
                    <span class="oi oi-box" aria-hidden="true"></span> View AddIns
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="logout">
                    <span class="oi oi-account-logout" aria-hidden="true"></span> Logout
                </NavLink>
            </div>
        }
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
